<!DOCTYPE html>
<html>
  <head>
    <title>FaceNove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
      window.logo_blue_url = "<%= image_url('Logo_Blue.png') %>";
      window.logo_green_url = "<%= image_url('Logo_Green.png') %>";
      window.logo_red_url = "<%= image_url('Logo_Red.png') %>";
      window.error_url = "<%= image_url('Error_Symbol.png') %>";
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
