<!DOCTYPE html>
<html>
  <head>
    <title>FaceNove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
      window.logo_blue_url = "<%= image_url('Logo_Blue.png') %>";
      window.logo_green_url = "<%= image_url('Logo_Green.png') %>";
      window.logo_red_url = "<%= image_url('Logo_Red.png') %>";
      window.error_url = "<%= image_url('Error_Symbol.png') %>";
      window.x_url = "<%= image_url('X_Symbol.png') %>";
      window.page_gradient_url = "<%= image_url('Facenove_Page_Gradient.png') %>";
      window.color_blue_url = "<%= image_url('Color_Wheel_Blue.png') %>";
      window.color_green_url = "<%= image_url('Color_Wheel_Green.png') %>";
      window.color_red_url = "<%= image_url('Color_Wheel_Red.png') %>";
      window.logout_blue_url = "<%= image_url('Logout_Icon_Blue.png') %>";
      window.logout_green_url = "<%= image_url('Logout_Icon_Green.png') %>";
      window.logout_red_url = "<%= image_url('Logout_Icon_Red.png') %>";
      window.edit_blue_url = "<%= image_url('Edit_Icon_Blue.png') %>";
      window.edit_green_url = "<%= image_url('Edit_Icon_Green.png') %>";
      window.edit_red_url = "<%= image_url('Edit_Icon_Red.png') %>";
      window.image_blue_url = "<%= image_url('Image_Icon_Blue.png') %>";
      window.image_green_url = "<%= image_url('Image_Icon_Green.png') %>";
      window.image_red_url = "<%= image_url('Image_Icon_Red.png') %>";
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
