<!DOCTYPE html>
<html>
  <head>
    <title>FaceNove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
      window.logo_blue_url = "<%= image_url('Logo_Blue.png') %>";
      window.logo_green_url = "<%= image_url('Logo_Green.png') %>";
      window.logo_red_url = "<%= image_url('Logo_Red.png') %>";
      window.error_url = "<%= image_url('Error_Symbol.png') %>";
      window.x_url = "<%= image_url('X_Symbol.png') %>";
      window.page_gradient_url = "<%= image_url('Facenove_Page_Gradient.png') %>";
      window.color_blue_url = "<%= image_url('Color_Wheel_Blue.png') %>";
      window.color_green_url = "<%= image_url('Color_Wheel_Green.png') %>";
      window.color_red_url = "<%= image_url('Color_Wheel_Red.png') %>";
      window.logout_blue_url = "<%= image_url('Logout_Icon_Blue.png') %>";
      window.logout_green_url = "<%= image_url('Logout_Icon_Green.png') %>";
      window.logout_red_url = "<%= image_url('Logout_Icon_Red.png') %>";
      window.edit_blue_url = "<%= image_url('Edit_Icon_Blue.png') %>";
      window.edit_green_url = "<%= image_url('Edit_Icon_Green.png') %>";
      window.edit_red_url = "<%= image_url('Edit_Icon_Red.png') %>";
      window.image_blue_url = "<%= image_url('Image_Icon_Blue.png') %>";
      window.image_green_url = "<%= image_url('Image_Icon_Green.png') %>";
      window.image_red_url = "<%= image_url('Image_Icon_Red.png') %>";

      window.home_url = "<%= image_url('Home_Icon.png') %>";
      window.github_url = "<%= image_url('GitHub_Icon.png') %>";
      window.linkedin_url = "<%= image_url('LinkedIn_Icon.png') %>";

      window.liked_visual_blue_url = "<%= image_url('Like_Visual_Blue.png') %>";
      window.liked_visual_green_url = "<%= image_url('Like_Visual_Green.png') %>";
      window.liked_visual_red_url = "<%= image_url('Like_Visual_Red.png') %>";

      window.like_blue_url = "<%= image_url('Post_Like_Blue.png') %>";
      window.like_green_url = "<%= image_url('Post_Like_Green.png') %>";
      window.like_red_url = "<%= image_url('Post_Like_Red.png') %>";

      window.unlike_blue_url = "<%= image_url('Post_Unlike_Blue.png') %>";
      window.unlike_green_url = "<%= image_url('Post_Unlike_Green.png') %>";
      window.unlike_red_url = "<%= image_url('Post_Unlike_Red.png') %>";

      window.comment_blue_url = "<%= image_url('Post_Comment_Blue.png') %>";
      window.comment_green_url = "<%= image_url('Post_Comment_Green.png') %>";
      window.comment_red_url = "<%= image_url('Post_Comment_Red.png') %>";
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
